################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Panel.sln
/Panel.phpproj.user
/Panel.phpproj
/.vs/Panel/v14
